{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="portfolio" class="section section--border-bottom">
  <div class="container">
    <h2 class=" rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.client_and_work.title }}
    </h2>
    <p class="lead">
      {{ .Site.Data.homepage.client_and_work.description | markdownify }}
    </p>
    {{ range $index, $element := .Site.Data.homepage.client_and_work.works }}
    <div class="rad-animation-group rad-fade-down {{ if .is_even }}flex-column-reverse flex-md-row{{ end }}">
        {{ if .is_even }}
          <div class="row">
            <div class="col-12">
              <h3>{{ .title | markdownify }}</h3>
              <p class="work-description">{{ .description | markdownify }}<br><br></p>
            </div>
            <div class="work-bullets col-12 col-md-5 mt-md-0 mt-5">
              <ul class="pl-0 pr-5">
                <li><strong class="work-bold">Audience: </strong>{{ .audience }}<br></li>
                <!-- <li><strong class="work-bold">Authors/Editors: </strong>{{ .authors }}<br></li> -->
                <li><strong class="work-bold">Documentation goal: </strong>{{ .goal }}<br></li>
                <li><strong class="work-bold">My role: </strong>{{ .myrole }}</li>
                <li><strong class="work-bold">Subject Matter Experts (SMEs): </strong>{{ .sme }}<br></li>
                <li><strong class="work-bold">Documentation toolchain: </strong>{{ .toolchain }}<br></li>
              </ul>
            </div>
            <div class="col-12 col-md-7 pl-md-0">
              <img
                class="lozad img-responsive work-sample img-right"
                src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                data-src="{{ .image.x | absURL }}"
                data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
                alt="{{ .title }}"/>
            </div>
            <div id="view-sample" class="col-12 mt-3 mb-5 text-right">
              <a href="{{ .button.URL | absURL }}" class="btn btn-primary" target="_blank">{{ .button.btnText }}<i class="{{ .button.icon }}"></i></a>
            </div>
          
          </div>
        {{ else }}
            <div class="row">
              <div class="col-12">
                <h3>{{ .title | markdownify }}</h3>
                <p class="work-description">{{ .description | markdownify }}<br><br></p>
              </div>
              <div class="work-bullets col-12 col-md-5 pr-5">
                <ul class="pl-0">
                  <li><strong class="work-bold">Audience: </strong>{{ .audience }}<br></li>
                  <!-- <li><strong class="work-bold">Authors/Editors: </strong>{{ .authors }}<br></li> -->
                  <li><strong class="work-bold">Documentation goal: </strong>{{ .goal }}<br></li>
                  <li><strong class="work-bold">My role: </strong>{{ .myrole }}</li>
                  <li><strong class="work-bold">Subject Matter Experts (SMEs): </strong>{{ .sme }}<br></li>
                  <li><strong class="work-bold">Documentation toolchain: </strong>{{ .toolchain }}<br></li>
                </ul>
              </div>
              <div class="col-12 col-md-7 pr-md-0" style="padding-right: 0px;">
                <img
                  class="lozad img-responsive work-sample reduce-opacity text-right"
                  src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                  data-src="{{ .image.x | absURL }}"
                  data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
                  alt="{{ .title }}"/>
              </div>
              <div id="view-sample" class="col-12 mb-5 mt-3 pr-0 text-right">
                  <a href="{{ .button.URL | absURL }}" class="btn btn-primary" target="_blank">{{ .button.btnText }}<i class="{{ .button.icon }}"></i></a>
                  {{ with .button2 }}
                    <a href="{{ .URL | absURL }}" class="btn btn-secondary ml-2" target="_blank">{{ .btnText }}<i class="{{ .icon }}"></i></a>
                  {{ end }}
              </div>
            </div>
        {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
